<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keyboard Details</title>
</head>
<body>
    <h1>Keyboard Details</h1>
    <br>
  <section id='images'>
    <div><img src="https://i.imgur.com/NwQToCj.jpg" style="width:100%"></div>
    <div><img src="https://i.imgur.com/TGG5MSx.jpg" style="width:100%"></div>
    </section>
    <br><br>

    <table id="list">
        <thead>
            <tr>
                <th><div>Keyboard Build </div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div><%= keyboards.name %></div></td>
            </tr>
    </thead>

    
    <table id="list">
        <thead>
            <tr>
                <th><div>Keyboard Model: </div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div><%= keyboards.keyboardModel %></div></td>
            </tr>
    </thead>
   
    <table id="list">
        <thead>
            <tr>
                <th><div>Keyboard Size: </div></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <div><%= keyboards.size %></div></td>
            </tr>
    </thead>
    
</table>
<table id="list">
    <thead>
        <tr>
            <th><div>Switch Type: </div></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> <div><%= keyboards.switchType %></div></td>
        </tr>
</thead>

</table>

<table id="list">
    <thead>
        <tr>
            <th><div>Switch Color: </div></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> <div><%= keyboards.switchColor %></div></td>
        </tr>
</thead>
</table>

<h2>Comments</h2>
<form id="add-comment-form" method="POST" action="/keyboards/<%= keyboards._id %>/comments">
    <label>UserName:
        <br><br>
        <input type="text" name="userName">
        <br><br>
  <textarea name="content">Add a public comment...</textarea>
  <br><br>
  <input type="submit" value="Add Comment">
</form>

<% if (keyboards.comments.length) { %>
    <table>
      <thead>
        <tr>
        <th>UserName</th>
          <th>Created at</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
          
        <% keyboards.comments.forEach(function(c) { %>
            
          <tr>
            <td><%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <% if(user) { %> 
                <% if ( c.userId.equals(user._id )){ %> 
            <td><form action="/comments/<%= c._id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">Delete Comment</button>
      </form></td>
          </tr>
          <% } %> 
          <% } %> 
        <% }); %>
        <tr>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } %>

  
  
</body>
</html>

<%- include('../partials/footer') %>
